<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.project.so2.walkmeapp"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.project.so2.walkmeapp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.Training"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
            </intent-filter>
        </activity>

        <!-- Classes -->
        <activity
            android:name=".ui.History"
            android:screenOrientation="portrait"/>
        <service android:name=".core.SERVICE.GPS"/>

        <activity
            android:name=".ui.Settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.About"
            android:screenOrientation="portrait"/>

        <uses-feature android:name="android.hardware.sensor.stepcounter"/>
    </application>

</manifest>
